// Custom project-specific class here
.bg-gradient {
  @apply bg-gradient-to-r from-accent to-primary hover:from-accent-dark hover:to-primary-dark;
  &:not(.loading)[disabled] {
    background-image: none !important;
  }
}

//custom style datetimepicker trang thanh toán
.Modal-Portal {
  width: 100%;
  display: flex;
  justify-content: center;
}
.datepicker-modal {
  right: initial !important;
  max-width: 32rem !important;
}
