.scroll-block {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

.dialog-wrapper {
  &.bottom-mode {
    &.mobile {
      .dialog {
        padding-bottom: 40px;
      }
    }
    .dialog {
      width: 100% !important;
      max-width: 32rem;
      border-radius: 0 !important;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      max-height: 100vh;
      overflow-y: auto;
    }

    .dialog-header {
      position: sticky;
      top: 0;
    }
    .dialog-footer {
      position: sticky;
      bottom: 0;
    }
  }
}
