.scroll-block {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

.dialog-wrapper {
  &.mobile {
    .dialog {
      width: 100% !important;
      max-width: 578px;
      max-width: initial !important;
      border-radius: 0 !important;
      position: absolute;
      bottom: 0;
      max-height: 94vh;
      overflow-y: auto;
      padding-bottom: 40px;
    }
    .dialog-header {
      position: sticky;
      top: 0;
    }
    .dialog-footer {
      position: sticky;
      bottom: 0;
    }
  }
}
